a {
    color: #16A7F2;
    text-align: center;
    text-decoration: none;
    font-family:Arial Black;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

.vl {
    border-left: 6px solid #16A7F2;
    height: 15px;
}