* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right top, #845ec2, #8966bf, #8e6ebd, #9276ba, #967eb7, #a08bbc, #a997c0, #b3a4c5, #c5b8d3, #d8cde1, #eae2f0, #fcf8ff);
    overflow-x: hidden;
}

.admin_user {
    position: absolute;
    bottom: 1vw;
    left: 86%;
    width: 12%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.button_login {
    background: #c9c9c9;
    width: 80%;
    color: white;
    font-size: 1vw;
    border: 2px solid #999999;
    border-radius: 5px;
    cursor: pointer;
}

.button_login:hover {
    background-color: #adadad;
}

.quit_button {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    left: 10%;
    transform: translateY(28%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.quit_button:hover {
    opacity: 0.8;
}

#logout-image img {
    display: block;
    height: 2vw;
    width: 2vw;
    background: transparent;
}

.admin_user h3 {
    position: relative;
    transform: translateX(28%);
    font-size: 1vw;
    padding: 7% 0;
}

.admin_user h5 {
    font-size: 0.85vw;
    padding: 7%;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h2 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

.txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-10%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #00dd0b;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #FEFEDF;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.center input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #999999;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.center input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.alert {
    text-align: center;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}